parameters:
	ignoreErrors:
		-
			message: '#^Trait YlsIdeas\\SubscribableNotifications\\MailSubscriber is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/MailSubscriber.php
		-
			message: '#^Access to constant on deprecated class YlsIdeas\\SubscribableNotifications\\Channels\\SubscriberMailChannel#'
			identifier: classConstant.deprecatedClass
			count: 1
			path: src/SubscribableServiceProvider.php
